html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 12px;

  background-color: rgba(248, 249, 251, 1);
}

body {
  color: black;
  font-family: "Mont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding-top: 100px;
  margin-left: 325px;
  margin-right: 40px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  box-shadow: none;
  font-family: "Mont", sans-serif;

  &:hover {
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: "Mont";
  src: url("/fonts/Mont-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("/fonts/Mont-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 10px 40px;

  .left {
    display: flex;
    align-items: center;

    gap: 10px;

    p {
      color: white;
    }

    input {
      border-radius: 5px;
      background-color: white;
      border: none;
      padding: 7px 10px;
      color: black;
      width: 300px;
    }

    form {
      position: relative;
      margin-left: 40px;

      img {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 20px;

    .notifications {
      background: transparent;
      border: none;
      box-shadow: none;

      display: flex;
      justify-content: center;
      align-items: center;

      height: 100%;
    }

    .new-mr {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      font-weight: 700;
      padding: 5px 25px;
      border-radius: 5px;
    }

    p {
      color: white;
    }
  }
}

.new-project-button {
  background-color: transparent;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 5px;
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background: white;
  padding-top: 100px;

  p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 40px;
  }

  .nav-container {
    display: flex;
    flex-direction: column;

    button {
      text-align: left;
      padding-left: 40px;
      padding: 15px 40px;
      background: none;
      border: none;
      color: black;
      cursor: pointer;
    }

    .nav-active {
      background-color: rgba(245, 242, 242, 1);
    }
  }
}

.dashboard {
  p {
    font-size: 16px;
    font-weight: 600;
  }

  .widget-grid.overview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    .item {
      /* width: 250px; */
      height: 200px;
      border: 1px solid rgba(217, 217, 217, 1);
      padding: 20px;
      border-radius: 5px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      background-color: white;

      .icon {
        display: flex;
        justify-content: end;
      }

      .number {
        font-size: 24px;
        font-weight: 700;
      }

      .label {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  .widget-grid.active-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .item {
      min-width: 350px;
      min-height: 200px;
      border: 1px solid rgba(217, 217, 217, 1);
      background-color: white;
      border-radius: 5px;
      padding: 15px;
      position: relative;

      span {
        font-size: 8px;
        color: rgba(89, 89, 89, 1);
      }

      p {
        text-transform: uppercase;
      }

      .status {
        font-size: 8px;
        padding: 5px 10px;
        border-radius: 20px;
        position: absolute;
        top: 15px;
        right: 15px;
      }
    }
  }
}

.form-outer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .form-inner-container {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    position: relative;
    max-height: 90dvh;
    min-width: 900px;

    .form-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    input,
    select {
      background: none;
      border: 1px solid rgba(217, 217, 217, 1);
      border-radius: 5px;
      padding: 10px;
      color: black;
      font-family: "Mont", sans-serif;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    select {
      /* appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none; */
      background-color: rgba(248, 249, 251, 1);
    }

    label {
      font-size: 10px;
      font-weight: 700;
    }

    .input-row {
      display: grid;
      grid-template-columns: 1fr 0.5fr;
      gap: 20px;

      &.three-col {
        grid-template-columns: 1fr 1fr 1fr;
      }

      &.full {
        grid-template-columns: 1fr;
      }

      .input-item {
        display: flex;
        gap: 10px;
        flex-direction: column;
        margin-bottom: 20px;

        .input-prefix {
          position: relative;
          display: inline-block;
          width: 100%;

          span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 13px;
          }

          input {
            width: 100%;
          }

          &.left {
            span {
              left: 12px;
            }

            input {
              padding-left: 40px;
            }
          }

          &.right {
            span {
              right: 12px;
            }
          }
        }
      }
    }

    .button-container {
      display: flex;
      gap: 15px;
      justify-content: flex-end;

      .add-project-button {
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 700;
        padding: 10px 30px;
        border-radius: 5px;
      }

      .save-draft-button {
        background-color: rgba(241, 241, 241, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-weight: 700;
        padding: 10px 30px;
        border-radius: 5px;
      }
    }
  }
}